<!-- templates/base.html -->
{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{% block title %}My Website{% endblock %}</title>
    
    <link rel="stylesheet" href="{% static 'css/output.css' %}">
</head>
<body>
<!-- templates/base.html -->
{% include "components/navbar.html" %}

<h1 class="text-3xl font-bold underline">
    Hello world!
  </h1>
    <!-- Main content -->
    <div class="container mt-4">
        {% block content %}
        <!-- Page-specific content will be rendered here -->
        {% endblock %}
    </div>

    <!-- Footer -->
    <footer class="bg-light py-4 mt-4">
        <div class="container">
            <p class="text-center">© 2024 My Website</p>
        </div>
    </footer>

    <script src="{% static 'js/script.js' %}"></script>
</body>
</html>
