{% load static %}
<header>
  <nav data-magnetic>
      <div class="logo" style="display: inline-block; margin-right: 10px;">
          <img src="{% static 'image/logo.jpeg' %}" alt="Logo" style="height: 10rem; width: 10rem; vertical-align: middle;"> <!-- Updated logo size -->
      </div>
      <h1>WebTank</h1>
      
      <ul>
          <li><a href="/" id="home">Home</a></li>
          <li><a href="/#about">About</a></li>
          <li><a href="/#contact">Contact</a></li>
          {% if user.is_authenticated %}
            {% if user.is_investor %}
                <li><a href="{% url 'dashboard_investor' %}">Investor Dashboard</a></li>
            {% else %}
                <li><a href="{% url 'dashboard_startup' %}">Startup Dashboard</a></li>
            {% endif %}
          {% else %}
          <li><a href="/auth/register" id="links">Links</a></li>
            <li><a href="{% url 'login_startup' %}">Login As Startup</a></li>
            <li><a href="{% url 'login_investor' %}">Login As Investor</a></li>
          {% endif %}
          <li><a href="https://www.instagram.com/aditya_raj_saxena_19/" id="follow" target="_blank"
              rel="noreferrer noopener">Follow</a></li>
          <li><a href="https://www.instagram.com/bhomicgarg/" id="follow" target="_blank"
              rel="noreferrer noopener">Follow</a></li>
        </ul>
  </nav>
</header>