{% extends "users/register.html" %}{% block registertitle %}{{ register }}{% endblock registertitle %}
{% block stylesheet %}
{% endblock stylesheet %}
{% block registerbody %}
<div class="create-container">
    <h1>{{ register }}</h1>
    <form action="{{ request.get_full_path  }}" method="POST">
            {% csrf_token %}
            {% for field in form %}
            <div class="input-group">
                {{ field.label_tag }} {{ field }}
                {% if field.errors %}
                <p class="errors">{{ field.errors }}</p>
                {% else %}
                <p class="help_text">{{ field.help_text }}</p>
                {% endif %}
            </div>
            {% endfor %}
            <div class="input-group">
                <button type="submit">Create Account</button>
            </div>
        </form>
        <div class="additional-links">
            <a href="/">Already have an account? Sign In</a>
        </div>
    </div>
    {% endblock registerbody %}