{% extends "user/dashboard.html" %}
{% block dashboard_title %}Wait for approval from admin {% endblock dashboard_title %}
{% block dashboard_header %}Wait for approval from admin{% endblock dashboard_header %}
{% block stylesheet %}

{% endblock stylesheet %}
{% block content %}
<div style="text-align:center; text-transform: capitalize; font-size:18px;">
    <p>please wait for approval from admin, then only you can invest on startups accounts. this for to make only authenticated people to see startups. we hope you understands</p>
</div>  
{% endblock content %}